table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  overflow-x: auto;
}
th, td {
  border: 1px solid #dfe2e5;
  padding: 0.6em;
  text-align: left;
  word-break: break-word;
}
thead {
  background-color: #f6f8fa;
}
